.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    width: 450px;
    height: 300px;
    background-color: #fff;
    padding: 20px;
    padding-top: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 0;
    position: relative;
    border-radius: 20px;
}

.box h3{
    font-size: 35px;
    padding: 10px 0;
    color: #444;
}

.box img{
    margin-top: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
}

.box img:hover{
    background-image: linear-gradient(90deg, #ff7d00 0%, #c5ab9c 100%);
    color: white;
}